<a href="https://colab.research.google.com/github/Tejaswini916/Test-1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
data = pd.read_excel('ODD.xlsx')
missind_value = data.isnull().sum()
missing_columns = ['missing_values > 0']
if len(missing_columns)>0:
    print ("columns with missing values:")
    print(missing_columns)
else:
    print("There are no missing values in any columns.")

columns with missing values:
['missing_values > 0']

In [58]:
import pandas as pd
data = pd.read_excel('ODD.xlsx')
data_types = data.dtypes
print("Data types of each columns")
print(data_types)
print("\nData type analysis:")
for column,dtype in data_types.items():
  if'data' in column.lower() and dtype!='datetime64[ns]':
    print(f"The column'{column}' might need to be of type datetime,but it is of type{dtype}")
  elif 'id' in column.lower() and dtype!='int64':
    print(f"The column'{column}'might need to be of type int64,but it is of {dtype}.")
  elif 'amount' in column.lower() and dtype!='float64':
    print(f"The column '{column}'might need to be of type float64,but it is of type {dtype}.")
  elif dtype == 'object':
    print(f"The columns '{column}' is of type object (string),which might need further inspection depending on its content.")
  else:
    print(f"The column '{column}' has an appropriate data type :{dtype}")

Data types of each columns
Unnamed: 0                                          float64
Write python programs to answer these questions.     object
dtype: object

Data type analysis:
The column 'Unnamed: 0' has an appropriate data type :float64
The columns 'Write python programs to answer these questions.' is of type object (string),which might need further inspection depending on its content.

In [71]:
import numpy as np
data={
    'Employee_ID':[1,2,3,4,5],
    'Total_Work_Hour_Per_Month':[160,9999,180,9999,170]
}
df = pd.DataFrame(data)
print("Original Data:")
print(df)
invalid_rows = df[df['Total_Work_Hour_Per_Month'] == 9999]
print("\nRows with '9999' in total_Work_Per_Month:")
print(invalid_rows)
df['Total_Work_Hour_Per_Month']=df['Total_Work_Hour_Per_Month'].replace(9999,np.nan)
print("\nUpdate Data (with '9999' replace with NaN):")
print(df)
df['Total_Work_Hour_Per_Month']=df['Total_Work_Hour_Per_Month'].fillna(df['Total_Work_Hour_Per_Month'].mean())
print("\nFinal Data (after filling NaN with mean value):")
print(df)

Original Data:
   Employee_ID  Total_Work_Hour_Per_Month
0            1                        160
1            2                       9999
2            3                        180
3            4                       9999
4            5                        170

Rows with '9999' in total_Work_Per_Month:
   Employee_ID  Total_Work_Hour_Per_Month
1            2                       9999
3            4                       9999

Update Data (with '9999' replace with NaN):
   Employee_ID  Total_Work_Hour_Per_Month
0            1                      160.0
1            2                        NaN
2            3                      180.0
3            4                        NaN
4            5                      170.0

Final Data (after filling NaN with mean value):
   Employee_ID  Total_Work_Hour_Per_Month
0            1                      160.0
1            2                      170.0
2            3                      180.0
3            4                      170.0
4            5                      170.0